@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}

body {
    background-color: #173617;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}
*:focus {
    outline: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
}

    .fade-in.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }

.button-container a {
    background-color: #29BDBD;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 60px;
    padding: 16px 30px;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 105.2%;
    transition: 0.2s all ease-in-out;
}
    .button-container a:hover {
        background-color: #229B9B;
        text-decoration: none;
    }
    .button-container.green-button a {
        background-color: #528A6E;
        color: #fff;
    }
        .button-container.green-button a:hover {
            background-color: #346A4F;
        }

        header {
            background-color: #528A6E;
            background-image: url(/images/background-s.svg);
            background-repeat: no-repeat;
            background-size: 90%;
        }
    header .logo-container {
        padding: 50px;
    }
    header .logo-container img {
        width: auto;
    }

    header .header-title-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 0;
        overflow:hidden;
        max-width: 100%;
    }
        header .header-title-container div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
            
        }
        header .header-title-container h1 {
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 105.2%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
        
        header .header-title-container .sub-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        header .header-title-container .button-container {
            margin-top: 43px;
        }

        

.header-intro {
    background-color: #528A6E;
    background-image: url(/images/pattern-tile.svg);
    background-repeat: repeat-x;
    background-position: bottom;
}
    .header-intro .introduction {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.06em;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        .header-intro .introduction strong {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.06em;
        }



section .container {
    display: flex;
}

section#Mobile {
    background-color: #173617;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    padding: 50px 0;
}
    section#Mobile .container {
        flex-direction: column;
    }
    section#Mobile .container div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0 10px 0;
    }
    section#Mobile .container div:last-child {
        text-align: center;
        background-image: url(/images/background-s-grey.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    section#Mobile strong {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.06em;
    }
    section#Mobile small {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.06em;
    }
    section#Mobile img {
        transform: scale(1.25);
        transform-origin: top;
        width: 90%;
    }


section#Offer {
    background-color: #B5ABBA;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.06em;
    padding: 100px 0 50px;
    z-index: -1;
}
section#Offer .container {
    flex-direction: column;
}
section#Offer h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 105.2%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
section#Offer h4 {
    margin: 20px 0 15px;
}
section#Offer img {
    margin-bottom: 25px;
}

section#Survey {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 70px 0 80px;
}
    section#Survey .container {
        flex-direction: column;
    }
    section#Survey h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 95%;
        margin: 0 auto 10px;
    }
    section#Survey p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.06em;
        margin-bottom: 36px;
    }



section#Adopters {
    background: #29BDBD  url(/images/background-s.svg);
    background-size: contain;
    background-repeat: repeat-x;
    padding: 60px 0 36px;
}
    section#Adopters .container {
        flex-direction: column;
    }
    section#Adopters p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.06em;
        width: 90%;
        margin: 0 auto 24px;
    }
        section#Adopters p.price {
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 31px;
            text-align: center;
            letter-spacing: 0.06em;
        }
        section#Adopters p span {
            font-size: 40px;
        }
        section#Adopters p small {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.06em;
        }

    section#Adopters a {
        color: #fff;
        text-decoration: underline;
        transition: 0.2s all ease-in-out;
    }
        section#Adopters a:hover {
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
        }

section#Interest {
    background-color: #528A6E;
    color: #fff;
    background-image: url(/images/background-s-darkgrey.svg);
    background-repeat: no-repeat;
    background-size: 95%;
    padding: 120px 0;
}
    section#Interest .container {
        flex-direction: column;
    }
section#Interest h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
    section#Interest p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.06em;
        margin-bottom: 54px;
    }
        section#Interest p.title {
            margin-bottom: 7px;
        }
        section#Interest p.telephone {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.06em;
            color: #fff;
            margin-bottom: 31px;
        }
    section#Interest p.email a {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #fff;
        transition: 0.2s all ease-in-out;
    }

        section#Interest p.email a:hover {
            text-decoration: underline;
        }
    section#Interest .form-group {
        margin-bottom: 30px;
        background: #F8F7F8;
        box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 60px;
        padding: 10px 15px;
        display: flex;
    }
        section#Interest .form-group label  {
            display: none;
        }
        section#Interest .form-group input[type=email],
        section#Interest .form-group input[type=text] {
            border: none;
            background-color: transparent;
            margin-left: 10px;
            width: 85%;
        }

    section#Interest .form-group .image-container {
        width: 20px;
        text-align: center;
    }
        section#Interest .form-group .image-container img {
            width: 100%;
        }
        section#Interest .form-group img {
            width: auto;
        }
    section#Interest .form-group-check span {
        font-size: 12px;
    }

        section#Interest .form-group input:focus {
            outline: none;
        }

        ::-webkit-input-placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 15px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #000;
        }

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000;
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000;
}


.form-actions button {
    background-color: #29BDBD;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 60px;
    padding: 20px 30px;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 105.2%;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    transition: 0.2s all ease-in-out;
}
    .form-actions button:hover {
        background-color: #229B9B;
    }

    footer {
        padding: 50px 0;
        background-color: #173617;
        color: #fff;
    }
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer img {
    width: auto;
}

    footer .poweredby {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        text-align: right;
        letter-spacing: 0.06em;
        display: flex;
        align-items: center;
        margin: 25px auto 0;
        
    }
        footer .poweredby span {
            margin-top: 15px;
            margin-right: 25px;
        }
        
        footer .left-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            footer .left-footer img {
                margin-bottom: 25px;
            }
            footer .left-footer ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
                footer .left-footer ul li {
                    display: inline-block;
                    margin-left: 50px;
                }
                footer .left-footer ul li:first-child {
                    margin-left: 0px;
                }
                footer .left-footer ul li a {
                    color: #fff;
                    transition: 0.2s all ease-in-out;
                }
                    footer .left-footer ul li a:hover {
                        color: #29BDBD;
                    }

.content-page {
    background-color: #fff;
    color: #000;
}
.content-page main {
    padding: 50px 0;
}



.form-group-check {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
    .form-group-check span {
        margin-right: 20px;
    }
.slide-btn-container {
    background-color: #F8F7F8;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 60px;
    min-width: 135px;
}
.slide-btn {
    color: #000;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
}

    input[type="radio"].toggle + label {
        cursor: pointer;
        min-width: 60px;
        text-transform: uppercase;
        font-size: 14px;
    }

        input[type="radio"].toggle + label:hover {
            background: none;
            color: #1a1a1a;
        }

        input[type="radio"].toggle + label:after {
            background: #528A6E;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
            border-radius: 60px;
        }




    input[type="radio"].toggle.toggle-left + label {
        border-right: 0;
    }

        input[type="radio"].toggle.toggle-left + label:after {
            left: 100%
        }

    input[type="radio"].toggle.toggle-right + label {
        margin-left: -5px;
    }

        input[type="radio"].toggle.toggle-right + label:after {
            left: -100%;
        }

    input[type="radio"].toggle:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        z-index:2;
    }

        input[type="radio"].toggle:checked + label:after {
            left: 0;
        }

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


@media (min-width: 768px) {
    header {
        background-size: contain;
    }
        header .header-title-container h1 {
            font-size: 51px;
            line-height: 105.2%;
        }
        header .header-title-container {
            flex-direction: row;
        }
    .header-intro .introduction {
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    header .header-title-container .sub-title {
        font-size: 25px;
        line-height: 30px;
    }
    header .header-title-container {
        padding: 100px 0;
    }
        header .header-title-container img {
            transform: scale(1.15,1.15);
            transform-origin: center left;
        }
        header .header-title-container div:first-child {
            margin-bottom: 0;
            padding-left: 50px;
        }
            
            .slim-container {
                width: 95%;
                margin: 0 auto;
            }

    section#Mobile .container div:first-child {
        padding: 10px 40px 10px 0;
    }
    
    section#Mobile img {
        transform: scale(1.1);
        transform-origin: top;
        width: 100%;
    }

    section#Offer {
        z-index: -1;
    }
    section#Offer .container {
        flex-direction: row;
        align-items: center;
    }
        section#Offer .slim-container {
            margin-left: 0;
        }
        section#Offer img {
            transform: scale(1.25);
            transform-origin: right;
        }


    section#Survey h2 {
        max-width: 85%;
        font-size: 40px;
        line-height: 50px;
    }
    section#Survey p {
        font-size: 18px;
        line-height: 35px;
    }



    section#Adopters p {
        font-size: 21px;
        line-height: 26px;
    }
        section#Adopters p span {
            font-size: 50px;
        }
        section#Adopters p.price {
            font-size: 31px;
            line-height: 38px;
        }
    section#Interest {
        background-size: contain;
    }
    section#Interest .container {
        flex-direction: row;
    }
        section#Interest .form-group input[type=email],
        section#Interest .form-group input[type=text] {
            margin-left: 20px;
        }
        section#Interest p.telephone {
            font-size: 36px;
            line-height: 44px;
        }
        section#Interest p.email a {
            font-size: 25px;
            line-height: 30px;
        }
        section#Interest .form-group {
            padding: 20px 30px;
        }
            section#Interest .form-group .image-container {
                width: 30px;
            }

    .form-group-check span {
        font-size: 16px;
    }
    footer .container {
        flex-direction: row;
    }
    footer .poweredby {
        margin: initial;
        margin-top: 0;
    }
    footer .left-footer {
        flex-direction: row;
    }
    footer .left-footer img {
        margin-bottom: 0;
    }
        footer .left-footer ul li:first-child {
            margin-left: 50px;
        }
}
@media (min-width: 992px) {
    section#Survey h2 {
        max-width: 65%;
        font-size: 46px;
        line-height: 55px;
    }
    section#Mobile .container {
        flex-direction: row;
    }
    section#Mobile img {
        transform: scale(1.15);
        transform-origin: top;
    }

    header .header-title-container h1 {
        font-size: 61px;
        line-height: 105.2%;
    }

    .slim-container {
        width: 80%;
        margin: 0 auto;
    }
}


